.h100 {
    height: 100%;
}

.h50 {
    height: 50%;
}

.h33 {
    height: 33.33%;
}

.h25 {
    height: 25%;
}

.mh100 {
    max-height: 100%;
}

.mh50 {
    max-height: 50%;
}

.mh25 {
    max-height: 25%;
}