.grid90-10 {
    display: grid;
    grid-template-columns: 90% 10%;
    justify-content: center;
    align-items: center;
}

.grid50-50 {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
}

.grid75-25 {
    display: grid;
    grid-template-columns: 75% 25%;
    justify-content: center;
    align-items: center;
}

.grid33-33-33 {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    align-items: center;
}

.grid25-25-25 {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    align-items: center;
}