.grid100 {
    display: grid;
    grid-template-columns: 100%;

}


.grid90-10 {
    display: grid;
    grid-template-columns: 90% 10%;
}

.grid50-50 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid75-25 {
    display: grid;
    grid-template-columns: 75% 25%;
}

.grid33-33-33 {
    display: grid;
    grid-template-columns: 33% 33% 33%;

}

.grid25-25-25 {
    display: grid;
    grid-template-columns: 25% 25% 25%;

}

.flex {
    display: flex;
    justify-content: space-between;
}

.justifica-direita {
    justify-content: right;
}