.esq75 {
    left: 75%;
}

.esq50 {
    left: 50%;
}

.esq25 {
    left: 25%;
}

.dir75 {
    right: 75%;
}

.dir50 {
    right: 50%;
}

.dir25 {
    right: 25%;
}

.baixo75 {
    bottom: 75%;
}

.baixo50 {
    bottom: 50%;
}

.baixo25 {
    bottom: 25%;
}

.topo75 {
    top: 75%;
}

.topo50 {
    top: 50%;
}

.topo25 {
    top: 25%;
}