.p5 {
    padding: 5%;
}

.p2 {
    padding: 2%;
}

.ph2 {
    padding: 0 2%;
}

.pv2 {
    padding: 2% 0;
}

.pv1 {
    padding: 1% 0;
}

.mb2 {
    margin-bottom: 2%;
}

.mb1 {
    margin-bottom: 1%;
}

.mt2 {
    margin-top: 2%;
}

.mt5 {
    margin-top: 5%;
}

.mt10 {
    margin-top: 10%;
}

.mt12-5 {
    margin-top: 12.5%;
}

.mt15 {
    margin-top: 15%;
}

.mt1 {
    margin-top: 1%;
}

.mh2 {
    margin: 0 2%;
}

.mh1 {
    margin: 0 1%;
}

.mv2 {
    margin: 2% 0;
}

.mv1 {
    margin: 1% 0;
}

.mv0-5 {
    margin: 0.5% 0;
}

.sem_borda {
    border: 0;
}

.gp5 {
    gap: 5%;
}

.mc {
    margin: 0 auto;
}