@import url("./ds-altura.css");
@import url("./ds-cabecalho.css");
@import url("./ds-containers.css");
@import url("./ds-direcoes.css");
@import url("./ds-espacamento.css");
@import url("./ds-formulario.css");
@import url("./ds-geral.css");
@import url("./ds-largura.css");
@import url("./ds-posicionamento.css");
@import url("./ds-tabela.css");
@import url("./ds-texto.css");
@import url("./ds-tipo-display.css");
@import url("./ds-translacao.css");