@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor_principal: #4C3BCF;
    --cor_secundaria: #4B70F5;
    --cor_tercearia: #3DC2EC;
    --cor_destaque: #402E7A;
    --fonte_texto: "Open Sans";
    --fonte_titulo: "Roboto";
    --tamanho_fonte_texto: 1.4rem;
    --tamanho_fonte_titulo: 2rem;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte_texto);
}

body,
html {
    height: 100%;
}

body {
    background-color: var(--cor_principal);
    position: relative;
}

.centralizado {
    text-align: center;
}

.formulario {
    position: absolute;
    bottom: 0;
    top: 25%;
    left: 38%;
    margin-right: 2%;
}

.formulario>h1 {
    font-weight: normal;
    font-size: var(--tamanho_fonte_titulo);
    text-align: center;
}

.formulario__identificacao {
    border: 0;
    padding: 2%;

}

.formulario__identificacao>legend {
    background-color: var(--cor_tercearia);
    width: 100%;

}


@media screen and (max-width:980px) {
    .formulario {
        left: 30%;
    }
}

@media screen and (max-width:680px) {
    .formulario {
        left: 20%;
    }
}

@media screen and (max-width:340px) {
    .formulario {
        left: 5%;
    }
}