body {
    background-color: #3a0ca3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #4361ee;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
}

.formulario__entrada {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

.formulario__botao {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3a0ca3;
    color: white;
    cursor: pointer;
}

.formulario__botao:hover {
    background-color: #370f82;
}

.hidden {
    display: none;
}

.centralizado {
    display: flex;
    justify-content: center;
}

h1 {
    margin-bottom: 20px;
}